*,
*:before,
*:after {
    box-sizing: border-box;
}
h1:hover { opacity: 0.3; transition: 0.5s; }
body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*animate to logo photo*/
.logoimage:active { transform: scale(2); transition: 1.5s; }
/*header style setting*/
header ul {
   
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: pink;
  } 
header li {
    float: left;
    height: 60px;
    width: 100px; 
    
  } 
header li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
  } 
header li a:hover {
    background-color:royalblue;
  }

  header img {
  
    height: 60px;
    float: left;
  }
  header {
    display: flex;
    justify-content: center;
    height: 60px;
    background-color: aquamarine;
  }
  header ul {
    display: flex;
    justify-content: center;
 
  }
 
  /*main photo set animation*/
  .fourshow:hover { transform: translateY(-20px); transition: 2s; }

  /*main part style setting*/
  #lside img {
    height: 400px;
    width: 490px;
    border: 1px solid gray;
    background-color: beige;
  }
  #rside {
    height: 400px;
    width: 290px;
    border: 1px solid gray;
    background-color: cadetblue;
  }
  main {
    margin: 0 auto;
    max-width: 90%;
  }

  #blogart li{
    height: 40px;
  }
  footer {
    background-color:gray;
    color: azure;
}
footer p {
    padding-left: 2rem;
}

/*respond to 960px screen size*/
  @media screen and (min-width: 960px) {
    #main {
        display: flex;
        width: 80%;
        margin: 0 auto;
    }
    #lside {  
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 15px;
      width: 70%;
    }
    #lside img {
      height: 300px;
      width: 300px;
      border: 1px solid gray;
      background-color: beige;
    }
    #rside {
      height: 400px;
      width: 190px;
      border: 1px solid gray;
      background-color: cadetblue;
    }
}
