html {
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Ubuntu, sans-serif;
}
*,
*::before,
*::after{
    box-sizing:inherit;
}
body {
    margin: 0;
}
img{
    max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd,
figure,
blockquote,
details,
hr,
fieldset,
pre,
caption,
menu {
    margin: 0 0 1.5rem;
}
h1 {
    font-weight: 400;
    font-size: 1.802rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.3;
    color: #066051
}
h2 {
    font-weight: 400;
    font-size: 1.602rem;
    line-height: 1.3;
    text-transform: uppercase;
}
h3 {
    font-size: 1.424rem;
}
h4 {
    font-size: 1.256rem;
    text-transform: uppercase;
}
h5 {
    font-size: 1.125rem;
    color: #066051;
    border-bottom: 1px solid rgb(121, 107, 107);
}
h6 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: normal;
}
small {
    font-size: 0.85rem;
}
p {
    font-size: 1rem;
}
.logo {
    display: inline-block;
    width: 100%;
    max-width: 10rem;
}
/*------------Masthead------------*/
.masthead {
    padding: 0.75rem 0;
    text-align:  center;
    overflow: hidden;
}
.masthead .logo-wrap {
    margin-bottom: .75rem;
}
.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav li {
    margin-bottom: .75rem;
}
.nav a {
    color: #09A38C;
    text-decoration: none;
}
/*--------- Footer ------------*/
.footer {
    background-color: #09A38C;
    text-align: center;
    color: #fff;
}
.footer a {
    color: #fff;
}
.footer .container {
    padding: 1.5rem;
}
.footer .logo{
    display: block;
    margin: 0 auto;
    margin-bottom: .75rem;
}
.sub-footer {
    background-color: #066051;
}
.sub-footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: smaller;
}
.sub-footer li {
    display: inline-block;
}
@media only screen and (min-width: 45em) {
/*-----------LogoBar---------*/
/*----------  Header  ----------*/
.masthead {
    text-align: left;
    width: 100%;
    max-width: 70em;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.log-warp {
    margin-top: 2rem;
}
.masthead .container {
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}
.masthead .nav {
    flex-grow: 1;
}
.masthead ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.masthead ul li {
    margin: 0;
}
/* the way three (the easiest one)*/
.masthead .sign-in  {
    margin-left: auto;
}

/*-----------Footer-----------*/
.footer .container{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.footer .logo{
    margin-left: 6rem;
}
.footer small {
    margin-left: 6rem;
}

}
.platform {
    text-align:  center;
    padding: 6rem 6rem;
}
.platform>h2{
font-size: 3rem;
text-transform: uppercase;
}
.platform>p{
    font-size: 2.5rem;
    padding: 0rem 2rem;
    line-height: 3rem;
}
/* Buttons*/
.btn {
    display: inline-block;
    color: #09A38C;
    border: .125rem solid #09A38C;
    background-color: transparent;
    border-radius: 5rem;
    padding: .35em 2em .45em;
    text-decoration: none;
}
.btn:hover,
.btn:focus{
    background-color:#09a38c ;
    border-color: #09A38C;
    color: #fff;
}
.btn--white{
    border-color:#fff;
    color: #fff;
}
.btn--white:hover,
.btn--white:focus{
    background-color:#fff;
    border-color:#fff;
    color:#09a38c;
}
/* Banners */
.banner {
    background-position: center;
    background-size: cover;
    text-align:  center;
    color:#fff;
    padding: 10rem 1.5rem;
}
.banner-hero{
    background-image:
    url("../images/about.jpg");
}
.banner-cta{
    background-image: url("../images/contact1.jpg");
}
.banner-cta>h2{
    text-transform: uppercase;
}
/*------------Flex----------*/
.flexbox {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}
@media only screen and (min-width: 600px) {
    /*-----------LogoBar---------*/
.flexbox{
    width: 80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flexbox>li{
    width: 40%;
}
}
@media only screen and (min-width: 1440px) {
    /*-----------LogoBar---------*/
.flexbox{
    width: 80%;
    display:flex;
    flex-wrap: nowrap;
}
}